* {
  all: unset;
}

/* Focus + Hover = Hocus */
@custom-selector :--hocus :hover, :focus;

/* Block Display */
@custom-selector :--block-elements div /* etc... */;

/* Inline Display */
@custom-selector :--inline-elements span /* etc... */;

/* Thanks to TypeScale! */
:root {
  font-size: 16px;
}

@media (min-width: 600px) {
  :root {
    font-size: calc((8/300) * 100vw);
  }
}

@media (min-width: 901px) {
  :root {
    font-size: 24px;
  }
}

body {
  background-color: white;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
  line-height: 1.45;
  color: black;
  height: 100%;
  margin: auto;
  padding: 0;
  border: none;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

h2 {font-size: 2.827rem;}

h3 {font-size: 1.999rem;}

h4 {font-size: 1.414rem;}

h5 {}
h6 {}

small, .font_small {font-size: 0.707rem;}


/* Sectioning */

address {}
article {}
section {}
aside {}
footer {}
header {}
hgroup {}
nav {}


/* Text Content */


main {}
blockquote {}
dl {}
dt {}
dd {}
div {}
figcaption {}
figure {}
hr {}
ul {}
ol {}
li {}
p {}
pre {}


/* Inline Elements */

a {}
abbr {}
b {}
bdi {}
bdo {}
br {}
cite {}
code {}
data {}
dfn {}
em {}
i {}
kbd {}
mark {}
q {}
rp {}
rt {}
ruby {}
s {}
samp {}
small {}
span {}
strong {}
sub {}
sup {}
time {}
u {}
var {}
wbr {}


/* Edits */

ins {}
del {}
iframe {}


/* Scripting */

canvas {}
noscript {}
script {}


/* Images & Multimedia */

area {}
audio {}
img {}
map {}
track {}
video {}


/* Embedded Content */

embed {}
object {}
param {}
source {}


/* Tables */

caption {}
col {}
colgroup {}
table {}
tbody {}
td {}
tfoot {}
th {}
thead {}
tr {}


/* Forms */

button {}
datalist {}
fieldset {}
form {}
input {}
label {}
legend {}
meter {}
optgroup {}
option {}
output {}
progress {}
select {}
textarea {}


/* Interactive elements */

details {}
dialog {}
summary {}
